/* Let's go to create some style */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html body{
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */

	/* background: linear-gradient(135deg, red, blue); */
	background: radial-gradient(ellipse at bottom, #002534 0%, #090a0f 100%);
	min-width:600px;
	min-height:600px;
	padding: 20px;
  }

 /* title */

.title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: red;
}

 .title_puzzle {
	 background-color: rgb(30, 186, 187);
	 /* background-image: linear-gradient(ellipse at bottom, rgb(30, 186, 187),  #002534); */
	 border-radius: 30px;
	 border-width: 10px;
	 border: solid 0.3em  rgb(70, 72, 76);
	 margin: 2px;
	 font-size: 30px;
	 /* background-color:#3377CC; */
 }

 .empty_title_puzzle {
	 background-color: transparent;
	 border-color: #000;
 }

 .puzzle_button {
	width:30%; height:30%;font-size: 30px;color:#3377CC;
 }
